@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .full {
    @apply flex justify-center items-center flex-col w-full;
  }
  .section {
    @apply max-w-max flex justify-center items-center w-full px-5;
  }
  .watchActive {
    @apply z-40 order-2 -mx-14 xl:-mx-[100px] xl:max-w-[350px] max-w-[210px];
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #04060f;
  overflow-x: hidden;
} /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider-center li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrows .splide__arrows {
  top: 115%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slider-arrows .splide__arrows button {
  position: static;
}

.slider-arrows .splide__arrow {
  background-color: #47aaff;
  width: 36px;
  height: 36px;
  opacity: 1;
}
.slider-arrows .splide__arrow svg {
  fill: white;
}
html {
  scroll-behavior: smooth;
  scroll-padding-block: 100px;
}
